<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.user"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="2.0" >

    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-sdk android:minSdkVersion="14" />

    <application
        android:name="com.android.user.MapApplication"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar" >
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote" >
            <intent-filter>
            </intent-filter>
        </service>

        <activity
            android:name=".IntInit"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SystemInit"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.SYSTEMINIT" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.MAIN_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".YyglActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.YYGL_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".TstjActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".JtlxActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.JTLX_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".YysjActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.YYSJ_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".JjzlActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.JJZL_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".ZxgpActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.ZXGP_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".TstjDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.DETAIL_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailSecActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.DETAILSEC_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailThiActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.DETAILTHI_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailOthActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.DETAILOTH_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailForActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.DETAILFOR_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailFivActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.DETAILFIV_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".VipActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.VIP_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".OnlineActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.ONLINE_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".HelperActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.HELPER_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".LostfoundActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.LOSTFOUND_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".TelActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.TEL_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".MoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.MORE_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.ABOUT_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".SubHelperActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.SUBHELPER_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".GlActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.GL_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".BmActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.BM_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".GlCardActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.GLCARD_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".GlCardActivitynew"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.GLCARDNEW_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".CardFirActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.CARDFIR_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.HOMEDETAIL_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeDetailSecActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.HOMEDETAILSEC_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".YygloActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.YYGLO_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>

                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraPreview"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.android.user.activity.CAMERRA_PREVIVEW_ACTIVITY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Sinaweibo"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="538426e356240be8af0309b9" >
        </meta-data>

        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
    </application>

</manifest>